@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ASP.NET</h1>
    <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">         
    </div>
    <div class="col-md-4">
        <h4>If an application does not follow the Repository Pattern, it may have the following problems:</h4>         
        <p>
            Duplicate database operations codes.</br>
            Need of UI to unit test database operations and business logic.</br>
            Need of External dependencies to unit test business logic.</br>
            Difficult to implement database caching, etc.</br>
            Using the Repository Pattern has many advantages:</br>

            Your business logic can be unit tested without data access logic;</br>
            The database access code can be reused;</br>
            Your database access code is centrally managed so easy to implement any database access policies, like caching;</br>
            It’s easy to implement domain logic;</br>
            Your domain entities or business entities are strongly typed with annotations;</br>
        </p>
    </div>     
</div>